body{
    margin: 0;
    background-color:aqua;
    height: auto; 
    text-align: center;
    color: #2d5f5f;

}



.a{
    height: 700px;
    width:100%;
    position: absolute;
    
    border: 1px solid black;
    background-color:aqua;
    justify-content: center;
    top:0;

    
   

}
.b{
    margin-top: 700px;
    
    height: auto;
    
}

.d{
    height: auto;
    margin-bottom: 0;
    background-color: #cdecec;
}
.image{
    position: absolute;
    bottom: 0;
    left: 500px;

    
}
.c1{
    position: relative;
    right: 300px;
    top:60px;
}
.c2{
    position: relative;
    left: 300px;
    top: 100px;
}
.nam{
    font-family: cursive;
    font-size: 20px;
}
